HNCBKMS.sln
HNCBKMS.v11.suo
.vs/HNCBKMS/v14/.suo
HNCBKMS/bin/Debug/HNCBKMS.exe
HNCBKMS/bin/Debug/HNCBKMS.exe.config
HNCBKMS/bin/Debug/HNCBKMS.pdb
HNCBKMS/bin/Debug/HNCBKMS.vshost.exe
HNCBKMS/bin/Debug/HNCBKMS.vshost.exe.config
HNCBKMS/bin/Debug/HNCBKMS.vshost.exe.manifest
HNCBKMS/bin/Debug/log4net.config
HNCBKMS/bin/Debug/log4net.dll
HNCBKMS/bin/Debug/log4net.xml
HNCBKMS/bin/Debug/SETUP.XML
HNCBKMS/bin/Debug/COMBOI/36.TXT
HNCBKMS/bin/Debug/COMBOI/37.TXT
HNCBKMS/bin/Debug/COMBOI/58.TXT
HNCBKMS/bin/Debug/COMBOI/60.TXT
HNCBKMS/bin/Debug/COMBOI/61.TXT
HNCBKMS/bin/Debug/COMBOI/71.TXT
HNCBKMS/bin/Debug/COMBOI/72.TXT
HNCBKMS/bin/Debug/COMBOI/86.TXT
HNCBKMS/bin/Debug/COMBOI/87.TXT
HNCBKMS/bin/Debug/COMBOI/88.TXT
HNCBKMS/bin/Debug/Initial/COMBOI.DAF
HNCBKMS/bin/Debug/Initial/COMBOO.DAF
HNCBKMS/bin/Debug/Initial/EMBOSSIN.DAF
HNCBKMS/bin/Debug/Initial/JCSIPFLDP.DAF
HNCBKMS/bin/Debug/Initial/JCSIPFLPP.DAF
HNCBKMS/bin/Debug/Input/COMBOI.DAT
HNCBKMS/bin/Debug/Input/COMBOO-JCB.DAT
HNCBKMS/bin/Debug/Input/COMBOO.DAT
HNCBKMS/bin/Debug/Input/EMBOSSIN.DAT
HNCBKMS/bin/Debug/Input/EMBOSSIN.sample
HNCBKMS/bin/Debug/Input/EMBOSSIN_ICAS.DAT
HNCBKMS/bin/Debug/Input/EMBOSSIN_TWMP.DAT
HNCBKMS/bin/Debug/Input/EMBOSSIN_TWMP_OLD.DAT
HNCBKMS/bin/Debug/Input/ftp-COMBOI.DAT
HNCBKMS/bin/Debug/Input/ftp-COMBOO.DAT
HNCBKMS/bin/Debug/Input/ftp-EMBOSSIN.DAT
HNCBKMS/bin/Debug/Input/ftp-ONE.DAT
HNCBKMS/bin/Debug/Input/ONE.DAT
HNCBKMS/bin/Debug/Output/36.TXT
HNCBKMS/bin/Debug/Output/37.TXT
HNCBKMS/bin/Debug/Output/58.TXT
HNCBKMS/bin/Debug/Output/60.TXT
HNCBKMS/bin/Debug/Output/72.TXT
HNCBKMS/bin/Debug/Output/86.TXT
HNCBKMS/bin/Debug/Output/87.TXT
HNCBKMS/bin/Debug/Output/88.TXT
HNCBKMS/bin/Debug/Setup/DATABASE.XML
HNCBKMS/bin/Debug/Setup/FTP.XML
HNCBKMS/bin/Debug/Setup/HSM.XML
HNCBKMS/bin/Debug/Setup/KEY.XML
HNCBKMS/bin/Release/HNCBKMS.exe
HNCBKMS/bin/Release/HNCBKMS.exe.config
HNCBKMS/bin/Release/HNCBKMS.pdb
HNCBKMS/bin/Release/HNCBKMS.vshost.exe
HNCBKMS/bin/Release/HNCBKMS.vshost.exe.config
HNCBKMS/bin/Release/HNCBKMS.vshost.exe.manifest
HNCBKMS/bin/Release/log4net.config
HNCBKMS/bin/Release/log4net.dll
HNCBKMS/bin/Release/log4net.xml
HNCBKMS/bin/Release/SETUP.XML
HNCBKMS/bin/Release/CardCarry/CARDCARR.DAT
HNCBKMS/bin/Release/CardCarry/EMBOSSIN_T0518.dat
HNCBKMS/bin/Release/Database/ATM_PIN(HOST).sql
HNCBKMS/bin/Release/Database/FILE_FORMAT(HOST).sql
HNCBKMS/bin/Release/Database/Log(HOST).sql
HNCBKMS/bin/Release/Database/NX_ATM_PIN(Remote).sql
HNCBKMS/bin/Release/Initial/CARDCARR.DAF
HNCBKMS/bin/Release/Initial/COMBOI.DAF
HNCBKMS/bin/Release/Initial/COMBOO.DAF
HNCBKMS/bin/Release/Initial/EMBOSSIN.DAF
HNCBKMS/bin/Release/Initial/JCSIPFLDP.DAF
HNCBKMS/bin/Release/Initial/JCSIPFLPP.DAF
HNCBKMS/bin/Release/Input/Microsoft Office 2016.txt
HNCBKMS/bin/Release/Input/新文字文件.txt
HNCBKMS/bin/Release/Input/新增資料夾/CARDCARR.DAT
HNCBKMS/bin/Release/Input/新增資料夾/COMBOI.DAT
HNCBKMS/bin/Release/Input/新增資料夾/COMBOO-JCB.DAT
HNCBKMS/bin/Release/Input/新增資料夾/COMBOO.DAT
HNCBKMS/bin/Release/Input/新增資料夾/EMBOSSIN.DAT
HNCBKMS/bin/Release/Input/新增資料夾/EMBOSSIN.sample
HNCBKMS/bin/Release/Input/新增資料夾/EMBOSSIN_ICAS.DAT
HNCBKMS/bin/Release/Input/新增資料夾/EMBOSSIN_TWMP.DAT
HNCBKMS/bin/Release/Input/新增資料夾/EMBOSSIN_TWMP_OLD.DAT
HNCBKMS/bin/Release/Input/新增資料夾/ftp-COMBOI.DAT
HNCBKMS/bin/Release/Input/新增資料夾/ftp-COMBOO.DAT
HNCBKMS/bin/Release/Input/新增資料夾/ftp-EMBOSSIN.DAT
HNCBKMS/bin/Release/Input/新增資料夾/ftp-ONE.DAT
HNCBKMS/bin/Release/Input/新增資料夾/ONE.DAT
HNCBKMS/bin/Release/Setup/DATABASE.XML
HNCBKMS/bin/Release/Setup/FTP.XML
HNCBKMS/bin/Release/Setup/HSM.XML
HNCBKMS/bin/Release/Setup/KEY.XML
HNCBKMS/obj/Release/DesignTimeResolveAssemblyReferences.cache
HNCBKMS/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
HNCBKMS/obj/Release/HNCBKMS.csproj.FileListAbsolute.txt
